<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/application/application.log</file>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] - %msg %n</pattern>
        </encoder> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <fileNamePattern>./logs/application/zip/application.log.%d{yyyy-MM-dd HH}.gz</fileNamePattern>
            <maxHistory>24</maxHistory> 
            <totalSizeCap>3GB</totalSizeCap> 
        </rollingPolicy>
    </appender> 

    <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/application/warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] - %msg %n</pattern>
        </encoder> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <fileNamePattern>./logs/application/zip/warn.log.%d{yyyy-MM-dd HH}.gz</fileNamePattern>
            <maxHistory>24</maxHistory> 
            <totalSizeCap>3GB</totalSizeCap> 
        </rollingPolicy>
    </appender> 

        <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/application/Error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>Error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] - %msg %n</pattern>
        </encoder> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <fileNamePattern>./logs/application/zip/Error.log.%d{yyyy-MM-dd HH}.gz</fileNamePattern>
            <maxHistory>24</maxHistory> 
            <totalSizeCap>3GB</totalSizeCap> 
        </rollingPolicy>
    </appender> 

    <!-- <appender name="LogstashAppender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <destination>192.168.10.73:5001</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender> -->

    <!-- mybatis query log setting -->
    <logger name="jdbc" level="OFF" />
    <!-- <logger name="jdbc.sqlonly" level="DEBUG" />
    <logger name="jdbc.sqltiming" level="DEBUG" /> -->
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resultsettable" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />
    
    <root level="debug">
        <!-- <appender-ref ref="STDOUT"/> -->
        <appender-ref ref="ERROR_LOG"/>
        <appender-ref ref="WARN_LOG"/>
        <!-- <appender-ref ref="LogstashAppender"/> -->
    </root>
    
    <root level="info"> 
        <appender-ref ref="INFO_LOG" /> 
        <appender-ref ref="STDOUT"/>
    </root> 
</configuration>


  
